<div class="thrively-body">
	<!-- HEADER -->
	<header>
		<nav>
			<div class="thrively-logo">
				<div class="thrively-logo-div">
					<a href="#">
						<img src="./assets/mother-child-images/logo.jpg" alt="mum-care" />
						<span>Mum Care</span>
					</a>
				</div>
				<div class="menu-button">
					<button>
						<i class="fa-solid fa-bars"></i>
					</button>
				</div>
			</div>
			<div class="thrively-menu-body">
				<div class="thrively-menu-div">
					<!--FIXED BODY-->
					<div class="thrively-menu-card">
						<!--SECOND FIXED-->
						<div class="thrively-menu-flex">
							<div class="top-menu-div">
								<ul>
									<li class="close-btn">
										<button>
											<i class="fa-solid fa-xmark"></i>
										</button>
									</li>
									<li>
										<a href="#">Home</a>
									</li>
									<!-- <li>
										<a href="#features">Features</a>
									</li> -->
									<li>
										<a href="#about">About</a>
									</li>
									<li>
										<a href="#download">FAQ's</a>
									</li>
								</ul>
							</div>
							<div class="sign-log-div">
								<a
									[routerLink]="['/auth/sign-up']"
									routerLinkActive="router-link-active"
								>
									<button>Signup</button>
								</a>
								<a
									[routerLink]="['/auth/sign-in']"
									routerLinkActive="router-link-active"
								>
									<button>Login</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<!-- HERO SECTION -->
		<div class="hero-section-body">
			<div class="hero-section-flex">
				<div class="hero-section-left">
					<div class="hero-section-left-flex">
						<span class="right-top-span">Let's Ipsum the Lorem Care</span>
						<div class="right-big-text">
							<div class="right-big-image">
								<img src="./assets/hero-arrow.png" alt="arrow" />
								<div class="right-big-image-bg"></div>
							</div>
							<p class="right-top-big-text">
								MUM CARE: For a Mother and Child <br />
								<!-- <span style="color: #892292">Thrifting App</span> Lorem <br />
								Ipsum -->
							</p>
						</div>
						<p class="right-top-p">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
							Dolor explicabo, tempore aperiam sed labore eius numquam quae?
							<br />
							Asperiores a voluptas consectetur vel ad! Minus voluptatem a odio
							<br />
							qui exercitationem! <br />
							Mum Care.
						</p>
						<a href="#" class="right-top-download-btn">
							<button>FAQ's</button>
						</a>
					</div>
				</div>
				<div class="hero-section-right">
					<div class="hero-section-right-flex">
						<div class="div-right-bg"></div>
						<div class="hero-img-div">
							<!-- <img src="./assets/phone.png" alt="thrively-image"> -->
						</div>
						<div class="divv-right-bg"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- THRIVELY OFFER CARDS -->
		<a name="features"></a>
		<div class="thrively-offer-div">
			<div class="thrively-offer-body">
				<h2>What MUM CARE Offers</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
					Perspiciatis provident cupiditate ipsa quaerat reprehenderit quo,
					<br />
					dicta, expedita ab voluptatibus excepturi distinctio cum architecto
					<br />
					charum veritatis maxime nulla id. Eum, sapiente?
				</p>
			</div>
			<div class="thrively-card-div">
				<div class="thrively-offer-cards-div">
					<div class="thrively-offer-card-flex">
						<div class="thrively-offer-card">
							<div class="thrively-offer-card-body">
								<div class="offer-card-img create">
									<img src="./assets/thrift-icon.svg" alt="thrift" />
								</div>
								<p>Cassava</p>
								<span>Employ 50 million Nigerians</span>
							</div>
						</div>
						<div class="thrively-offer-card">
							<div class="thrively-offer-card-body">
								<div class="offer-card-img manage">
									<img src="./assets/wallet-icon.svg" alt="wallet" />
								</div>
								<p>Garri</p>
								<span
									>Track your health, medications, view Supplements, <br />
									and never worry about missing a doctor's or dosage
									appointmnt</span
								>
							</div>
						</div>
						<div class="thrively-offer-card">
							<div class="thrively-offer-card-body">
								<div class="offer-card-img achieve">
									<i class="las la-check"></i>
								</div>
								<p>Ewa and Agbado</p>
								<span>A child in hand is a future assured.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- WIDTH 80 -->
		<div class="div-body">
			<div class="div-body-80">
				<!-- TESTIMONIALS -->
				<div class="testimonials-body">
					<div class="testimonial-div">
						<p class="test-top-text">Testimonials</p>
						<div class="testimonial-card-flex">
							<div class="testimonial-card">
								<div class="test-card-flex">
									<div class="test-card-img">
										<img
											src="/assets/mother-child-images/mum-child.jpg"
											alt=""
										/>
									</div>
									<p>Anjola Perptua</p>
									<span
										>"MUM CARE helped me immensely on keeping track Lorem Ipsum
										you want to lorem, ipsum dolor sit amet "</span
									>
									<div class="test-card-rating">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>
								</div>
							</div>
							<div class="testimonial-card">
								<div class="test-card-flex">
									<div class="test-card-img">
										<img
											src="/assets/mother-child-images/mum-child1.jpg"
											alt=""
										/>
									</div>
									<p>Promise Suleiman</p>
									<span
										>"MUM CARE helped me immensely on keeping track Lorem Ipsum
										you want to lorem, ipsum dolor sit amet "</span
									>
									<div class="test-card-rating">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>
								</div>
							</div>
							<div class="testimonial-card">
								<div class="test-card-flex">
									<div class="test-card-img">
										<img
											src="/assets/mother-child-images/mum-child2.jpg"
											alt=""
										/>
									</div>
									<p>Yerima Abdul</p>
									<span
										>"MUM CARE helped me immensely on keeping track Lorem Ipsum
										you want to lorem, ipsum dolor sit amet "</span
									>
									<div class="test-card-rating">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- ABOUT MUM CARE -->
				<a name="about"></a>
				<div class="about-thrively-body">
					<div class="about-thrively-flex">
						<div class="about-thrively-details">
							<p>About MUM CARE</p>
							<span
								>MUM CARE is a platform dedicated to Lorem Ipsum domi Ipsum
								Lorem Lorem for everyone. Lorem have the opportunity Lorem,
								Ipsum. Join us and enjoy the Lorem Ipsum. domi ipsum.</span
							>
							<a href="">
								<button>Read More</button>
							</a>
						</div>
						<div class="about-thrively-img">
							<img
								src="./assets/mother-child-images/mum-child.jpg"
								alt="about"
							/>
						</div>
					</div>
				</div>

				<!-- THRIFT PLAN -->
				<!-- @if (moreSection) { -->
				<div class="thrift-plan-body">
					<div class="thrift-plan-div">
						<p class="thrift-plan-text">Our Goal</p>
						<div class="thrift-plan-card-body">
							<div class="thrift-plan-card-flex">
								<div class="thrift-plan-card daily">
									<p>Goal 1</p>
									<ul>
										<li>
											Lorem ipsum dolor sit, amet consectetur adipisicing elit.
										</li>
										<li>
											Quo autem tempore est in? Dolorum id eius quibusdam,
											gradually.
										</li>
										<li>
											autem error cupiditate, velit debitis ratione deserunt .
										</li>
									</ul>
								</div>
								<div class="thrift-plan-card weekly">
									<p>Goal 2</p>
									<ul>
										<li>
											cumque quis voluptatem beatae exercitationem corrupti
										</li>
										<li>
											Lorem ipsum dolor sit amet consectetur, adipisicing elit.
										</li>
										<li>
											Odio quae et ad amet ipsa officiis quaerat saepe magni
											sequi
										</li>
									</ul>
								</div>
								<div class="thrift-plan-card monthly">
									<p>Goal 3</p>
									<ul>
										<li>
											debitis quos numquam cum repudiandae nam voluptas, quo
											delectusmolestias nemo.
										</li>
										<li>
											debitis quos numquam cum repudiandae nam voluptas, quo
											delectus molestias nemo.
										</li>
										<li>
											debitis quos numquam cum repudiandae nam voluptas, quo
											delectus molestias nemo.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- } -->
			</div>
		</div>

		<!-- DOWNLOAD APP -->
		<!-- <a name="download"></a>
		<div class="download-thrively-body">
			<div class="downlaod-thrively-div">
				<div class="download-thrively-flex">
					<div class="download-thrively-details">
						<p>Download Thrively App</p>
						<span
							>Join the Thrively Community and Start Saving Today. Lorem have
							the opportunity Lorem, Ipsum. With our user-friendly interface, we
							make it easy for people to download, contribute and browse through
							our Ipsum. Download and enjoy the Lorem Ipsum.</span
						>
						<a href="#">
							<button>Download Now</button>
						</a>
					</div>
					<div class="download-thrively-img">
						<img src="./assets/download-app.jpg" alt="download-thrively" />
					</div>
				</div>
			</div>
		</div> -->

		<!-- SUBSCRIBE EMAIL -->
		<!-- <div class="subscribe-email-body">
			<div class="subscribe-email-div">
				<div class="subscribe-email-flex">
					<span>Subscribe to Our Newsletter Newest Contributions Updates</span>
					<div class="email-form">
						<form class="sub-email">
							<input type="email" placeholder="Email" required />
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div> -->
	</main>

	<!-- FOOTER -->
	<footer>
		<div class="thrively-footer-body">
			<div class="thrively-footer-div">
				<div class="thrively-footer-flex">
					<div class="thrively-footer-logo">
						<div class="footer-logo">
							<img src="./assets/mother-child-images/logo.jpg" alt="logo" />
							<span>MUM CARE</span>
						</div>
						<span class="footer-span"
							>MUM CARE is more than just a lorem <br />
							Lorem ipsum dolor sit amet consectetur, <br />
							Lorem Ipsum domi Ipsum Lorem <br />
							Lorem for everyone</span
						>
					</div>
					<div class="thrively-footer-links quick-links-web">
						<span>Quick Links</span>
						<ul>
							<li>Home</li>
							<li>About Us</li>
							<!-- <li>Team</li> -->
							<li>Help</li>
						</ul>
					</div>
					<div class="thrively-footer-links legal-web">
						<span>Legal</span>
						<ul>
							<li>Support</li>
							<li>Privacy Policy</li>
							<li>FAQ</li>
							<!-- <li>Refer and Earn</li> -->
							<li>Terms</li>
						</ul>
					</div>
					<div class="thrively-footer-links social-media">
						<span>Social Media</span>
						<ul class="media-flex">
							<!-- <li><i class="fa-brands fa-facebook-f"></i></li> -->
							<li><i class="lab la-facebook-f"></i></li>
							<!-- <li><i class="fa-brands fa-twitter"></i></li> -->
							<li><i class="lab la-twitter"></i></li>
							<!-- <li><i class="fa-brands fa-linkedin-in"></i></li> -->
							<li><i class="lab la-linkedin-in"></i></li>
							<!-- <li><i class="fa-brands fa-instagram"></i></li> -->
							<li><i class="lab la-instagram"></i></li>
							<li><i class="lab la-github"></i></li>
						</ul>
					</div>

					<!-- MOBILE VIEW FOR QUICK LINK AND LEGAL -->
					<div class="mobile-footer-div">
						<div class="thrively-footer-links quick-links-mobile">
							<details class="quick-links-details">
								<summary>
									<span>Quick Links</span>
									<button class="quick-details-arrow-btn">
										<i class="fa-solid fa-chevron-down"></i>
									</button>
								</summary>
								<ul>
									<li>Home</li>
									<li>About Us</li>
									<li>Team</li>
									<li>Help</li>
								</ul>
							</details>
						</div>
						<div class="thrively-footer-links legal-mobile">
							<details class="legal-details">
								<summary>
									<span>Legal</span>
									<button class="legal-details-arrow-btn">
										<i class="fa-solid fa-chevron-down"></i>
									</button>
								</summary>
								<ul>
									<li>Support</li>
									<li>Privacy Policy</li>
									<li>FAQ</li>
									<li>Refer and Earn</li>
									<li>Terms</li>
								</ul>
							</details>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- COPYRIGHT -->
		<div class="copyright-body">
			<p>
				<i class="fa-regular fa-copyright"></i>
				<span class="current-year"></span>
				All rights reserved.
			</p>
		</div>
	</footer>
</div>

<script src="./app.js"></script>
<!-- </body>
</html> -->
