<!-- <div class="dashboard" *ngIf="isLoading">
  <div class="frame-parent animate__animated animate__bounce animate__faster animate__infinite">
    <div class="logo-position">
      <img class="frame-child " style="width: 90px; height: 80px; padding: 5px 5px; object-fit: contain;" alt="" src="assets/icon/capLogo.png">

    </div>
    <div class="order-manager-parent">
      <div class="order-manager">Loading...</div>
    </div>
  </div>
</div> -->

<!-- Loading Overlay -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
