<app-top-banner title="Add Supplement" />
<div class="box mb-4 xxxl:mb-6">
  <div class="mb-6 pb-6 bb-dashed flex justify-between items-center">
    <h4 class="h4">Add Supplement</h4>
    <app-options-horiz />
  </div>
  <form
    class="grid grid-cols-2 gap-4 xxxl:gap-6"
    [formGroup]="suppForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-span-2 md:col-span-1">
      <label for="name" class="mb-4 md:text-lg font-medium block">
        Supplement's Name
      </label>
      <input
        type="text"
        formControlName="name"
        class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3"
        placeholder="Enter name"
        id="name"
        required
      />
      @if (suppForm.get('name')?.errors && suppForm.get('name')?.touched) {
      <span
        class="text-secondary2"
        *ngIf="suppForm.get('name')?.errors?.['required']"
        >{{ "Supplement's name is required" }}</span
      >
      }
    </div>
    <div class="col-span-2 md:col-span-1">
      <label for="description" class="mb-4 md:text-lg font-medium block">
        Description
      </label>
      <textarea
        formControlName="description"
        class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3"
        placeholder="Provide Supplement description"
        rows="5"
        cols="5"
        required
      ></textarea>
      @if (suppForm.get('description')?.errors &&
      suppForm.get('description')?.touched) {
      <span
        class="text-secondary2"
        *ngIf="suppForm.get('description')?.errors?.['required']"
        >{{ "Supplement's description is required" }}</span
      >
      }
    </div>

    <div class="col-span-2 flex gap-4 md:gap-6 mt-2">
      <button class="btn" type="submit">Save</button>
      <button class="btn-outline" type="reset" (click)="suppForm.reset()">
        Cancel
      </button>
    </div>
  </form>
</div>
