<app-top-banner title="Supplements Overview" />

<div class="grid grid-cols-12 gap-4 xxl:gap-6">
  <div class="box col-span-12">
    <div class="overflow-x-auto pb-4 lg:pb-6">
      <table class="w-full whitespace-nowrap" id="payment-account">
        <thead>
          <tr class="bg-secondary1/5 dark:bg-bg3">
            <th
              (click)="supplements.sortData('name')"
              class="text-start !py-5 px-6 min-w-[230px] cursor-pointer"
            >
              <div class="flex items-center gap-1">
                Name
                <i class="las la-exchange-alt rotate-90 text-base"></i>
              </div>
            </th>
            <th
              (click)="supplements.sortData('description')"
              class="text-start !py-5 min-w-[230px] cursor-pointer"
            >
              <div class="flex items-center gap-1">
                Description
                <i class="las la-exchange-alt rotate-90 text-base"></i>
              </div>
            </th>
            <th class="text-center !py-5">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of supplements.paginatedData; index as i"
            class="even:bg-secondary1/5 dark:even:bg-bg3"
          >
            <td class="py-2 px-6">
              <div class="flex items-center gap-3">
                <div>
                  <p class="font-medium mb-1">{{ item.name }}</p>
                </div>
              </div>
            </td>
            <td class="py-2">
              <div>
                <p class="font-medium">{{ item.description }}</p>
              </div>
            </td>
            <td class="py-2">
              <div class="flex justify-center space-x-4">
                <!-- Edit Icon -->
                <i
                  class="la la-edit text-blue-500 cursor-pointer"
                  (click)="onEdit(item.id)"
                ></i>

                <!-- View Icon -->
                <i
                  class="la la-eye text-green-500 cursor-pointer"
                  (click)="onView(item.id)"
                ></i>

                <!-- Delete Icon -->
                <i
                  class="la la-trash text-red-500 cursor-pointer"
                  (click)="onDelete(item.id)"
                ></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="flex col-span-12 gap-4 sm:justify-between justify-center items-center flex-wrap"
    >
      <p>
        Showing {{ supplements.startIndex + 1 }} to
        {{ supplements.endIndex + 1 }} of {{ supplements.totalData }} entries
      </p>
      <ul class="flex gap-2 md:gap-3 flex-wrap md:font-semibold items-center">
        <li>
          <button
            [disabled]="supplements.currentPage == 1"
            (click)="supplements.prevPage()"
            class="hover:bg-[#334CAE] text-[#334CAE] rtl:rotate-180 hover:text-n0 border md:w-10 duration-300 md:h-10 w-8 h-8 flex items-center rounded-full justify-center border-[#334CAE]"
          >
            <i class="las la-angle-left text-lg"></i>
          </button>
        </li>
        <li *ngFor="let page of pages">
          <button
            (click)="supplements.paginate(page)"
            [ngClass]="{
              'bg-[#334CAE] !text-n0': supplements.currentPage == page
            }"
            class="hover:bg-[#334CAE] bg-[#334CAE] hover:text-n0 border md:w-10 duration-300 md:h-10 w-8 h-8 flex text-[#334CAE] items-center rounded-full justify-center border-[#334CAE]"
          >
            {{ page }}
          </button>
        </li>
        <li>
          <button
            [disabled]="supplements.currentPage == supplements.totalPages"
            (click)="supplements.nextPage()"
            class="hover:bg-[#334CAE] text-[#334CAE] hover:text-n0 rtl:rotate-180 border md:w-10 duration-300 md:h-10 w-8 h-8 flex items-center rounded-full justify-center border-[#334CAE]"
          >
            <i class="las la-angle-right text-lg"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
